// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/*
$primary: #ffffff; // Thats a sample how you could change a BootStrap variable.
$secondary: #8c52ff;
$tertiary: #2db0b0;
$quaternary: #2db091;
$quinary: #626262;

body {
	// font-family: 'Press Start 2P', cursive;
	font-family: "Orbitron", "Play", "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

#wrapper-navbar {
	.top-header-holder {
		height: 160px;
		color: #aaaaaa;
	}

	#main-nav {
		font-family: "Play", "Roboto", sans-serif;
		border-top: 2px solid rgba(#2db0b0, 0.5);
		border-bottom: 2px solid rgba(#2db0b0, 0.5);
		padding: 0px;
		background-color: $secondary;
		ul {
			justify-content: space-between;
			justify-content: space-between;
			li {
				a {
					font-weight: 700;
					font-size: 18px;
					text-transform: uppercase;
					padding: 2em 0.5em;
				}
				&.current_page_item {
					a {
						color: $secondary;
						font-weight: 900;
					}
				}
			}
		}
	}
}

.homeBG-banner {
	height: 400px;
	background: #000000;
	background-image: url(./imgs/);
	background-size: cover;
}
*/
